src/conf/xml-resources/web-service-references/WSAdmin/wsdl/localhost_8080/Threadther/WSAdmin.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://WS/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://WS/" name="WSAdmin">
<types>
<xsd:schema>
<xsd:import namespace="http://WS/" schemaLocation="http://localhost:8080/Threadther/WSAdmin?xsd=1"/>
</xsd:schema>
</types>
<message name="getShowingMovies">
<part name="parameters" element="tns:getShowingMovies"/>
</message>
<message name="getShowingMoviesResponse">
<part name="parameters" element="tns:getShowingMoviesResponse"/>
</message>
<message name="getAllMovie">
<part name="parameters" element="tns:getAllMovie"/>
</message>
<message name="getAllMovieResponse">
<part name="parameters" element="tns:getAllMovieResponse"/>
</message>
<message name="addCinema">
<part name="parameters" element="tns:addCinema"/>
</message>
<message name="addCinemaResponse">
<part name="parameters" element="tns:addCinemaResponse"/>
</message>
<message name="editCinema">
<part name="parameters" element="tns:editCinema"/>
</message>
<message name="editCinemaResponse">
<part name="parameters" element="tns:editCinemaResponse"/>
</message>
<message name="addMovie">
<part name="parameters" element="tns:addMovie"/>
</message>
<message name="addMovieResponse">
<part name="parameters" element="tns:addMovieResponse"/>
</message>
<message name="getAllCinema">
<part name="parameters" element="tns:getAllCinema"/>
</message>
<message name="getAllCinemaResponse">
<part name="parameters" element="tns:getAllCinemaResponse"/>
</message>
<message name="getMovie">
<part name="parameters" element="tns:getMovie"/>
</message>
<message name="getMovieResponse">
<part name="parameters" element="tns:getMovieResponse"/>
</message>
<message name="deleteMovie">
<part name="parameters" element="tns:deleteMovie"/>
</message>
<message name="deleteMovieResponse">
<part name="parameters" element="tns:deleteMovieResponse"/>
</message>
<message name="editMovie">
<part name="parameters" element="tns:editMovie"/>
</message>
<message name="editMovieResponse">
<part name="parameters" element="tns:editMovieResponse"/>
</message>
<message name="getUser">
<part name="parameters" element="tns:getUser"/>
</message>
<message name="getUserResponse">
<part name="parameters" element="tns:getUserResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="getStudiosByCinemaName">
<part name="parameters" element="tns:getStudiosByCinemaName"/>
</message>
<message name="getStudiosByCinemaNameResponse">
<part name="parameters" element="tns:getStudiosByCinemaNameResponse"/>
</message>
<message name="getAllScheduleByMovieId">
<part name="parameters" element="tns:getAllScheduleByMovieId"/>
</message>
<message name="getAllScheduleByMovieIdResponse">
<part name="parameters" element="tns:getAllScheduleByMovieIdResponse"/>
</message>
<message name="getComingSoonMovies">
<part name="parameters" element="tns:getComingSoonMovies"/>
</message>
<message name="getComingSoonMoviesResponse">
<part name="parameters" element="tns:getComingSoonMoviesResponse"/>
</message>
<portType name="WSAdmin">
<operation name="getShowingMovies">
<input wsam:Action="http://WS/WSAdmin/getShowingMoviesRequest" message="tns:getShowingMovies"/>
<output wsam:Action="http://WS/WSAdmin/getShowingMoviesResponse" message="tns:getShowingMoviesResponse"/>
</operation>
<operation name="getAllMovie">
<input wsam:Action="http://WS/WSAdmin/getAllMovieRequest" message="tns:getAllMovie"/>
<output wsam:Action="http://WS/WSAdmin/getAllMovieResponse" message="tns:getAllMovieResponse"/>
</operation>
<operation name="addCinema">
<input wsam:Action="http://WS/WSAdmin/addCinemaRequest" message="tns:addCinema"/>
<output wsam:Action="http://WS/WSAdmin/addCinemaResponse" message="tns:addCinemaResponse"/>
</operation>
<operation name="editCinema">
<input wsam:Action="http://WS/WSAdmin/editCinemaRequest" message="tns:editCinema"/>
<output wsam:Action="http://WS/WSAdmin/editCinemaResponse" message="tns:editCinemaResponse"/>
</operation>
<operation name="addMovie">
<input wsam:Action="http://WS/WSAdmin/addMovieRequest" message="tns:addMovie"/>
<output wsam:Action="http://WS/WSAdmin/addMovieResponse" message="tns:addMovieResponse"/>
</operation>
<operation name="getAllCinema">
<input wsam:Action="http://WS/WSAdmin/getAllCinemaRequest" message="tns:getAllCinema"/>
<output wsam:Action="http://WS/WSAdmin/getAllCinemaResponse" message="tns:getAllCinemaResponse"/>
</operation>
<operation name="getMovie">
<input wsam:Action="http://WS/WSAdmin/getMovieRequest" message="tns:getMovie"/>
<output wsam:Action="http://WS/WSAdmin/getMovieResponse" message="tns:getMovieResponse"/>
</operation>
<operation name="deleteMovie">
<input wsam:Action="http://WS/WSAdmin/deleteMovieRequest" message="tns:deleteMovie"/>
<output wsam:Action="http://WS/WSAdmin/deleteMovieResponse" message="tns:deleteMovieResponse"/>
</operation>
<operation name="editMovie">
<input wsam:Action="http://WS/WSAdmin/editMovieRequest" message="tns:editMovie"/>
<output wsam:Action="http://WS/WSAdmin/editMovieResponse" message="tns:editMovieResponse"/>
</operation>
<operation name="getUser">
<input wsam:Action="http://WS/WSAdmin/getUserRequest" message="tns:getUser"/>
<output wsam:Action="http://WS/WSAdmin/getUserResponse" message="tns:getUserResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://WS/WSAdmin/loginRequest" message="tns:login"/>
<output wsam:Action="http://WS/WSAdmin/loginResponse" message="tns:loginResponse"/>
</operation>
<operation name="getStudiosByCinemaName">
<input wsam:Action="http://WS/WSAdmin/getStudiosByCinemaNameRequest" message="tns:getStudiosByCinemaName"/>
<output wsam:Action="http://WS/WSAdmin/getStudiosByCinemaNameResponse" message="tns:getStudiosByCinemaNameResponse"/>
</operation>
<operation name="getAllScheduleByMovieId">
<input wsam:Action="http://WS/WSAdmin/getAllScheduleByMovieIdRequest" message="tns:getAllScheduleByMovieId"/>
<output wsam:Action="http://WS/WSAdmin/getAllScheduleByMovieIdResponse" message="tns:getAllScheduleByMovieIdResponse"/>
</operation>
<operation name="getComingSoonMovies">
<input wsam:Action="http://WS/WSAdmin/getComingSoonMoviesRequest" message="tns:getComingSoonMovies"/>
<output wsam:Action="http://WS/WSAdmin/getComingSoonMoviesResponse" message="tns:getComingSoonMoviesResponse"/>
</operation>
</portType>
<binding name="WSAdminPortBinding" type="tns:WSAdmin">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getShowingMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addCinema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editCinema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllCinema">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getUser">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getStudiosByCinemaName">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getAllScheduleByMovieId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getComingSoonMovies">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="WSAdmin">
<port name="WSAdminPort" binding="tns:WSAdminPortBinding">
<soap:address location="http://localhost:8080/Threadther/WSAdmin"/>
</port>
</service>
</definitions>